<div class="container">
    <div class="row align-items-start">
    <div class="col">
      <h1>Eat-Da-Burger!</h1>
    </div>
  </div>
  <div class="row align-items-middle">
    <div class="col">
      <h2>You can devour these burgers:</h2>
    </div>
    <div class="col">
      <h2>Devoured Burgers:</h2>
    </div>
  </div>

  <div class="row align-items-end">
    <div class="col">
        <ul>
            {{#each burgers}}
            {{#unless devoured}}
            <li class = "burger"><button class ="devour btn btn-success " data-id="{{id}}">Devour!</button> {{burger_name}} </li>
            {{/unless}}
            {{/each}}
        </ul>
    </div>
    <div class="col">
      <ul>
            {{#each burgers}}
            {{#if devoured}}
            <li class = "burger"> {{burger_name}}</li>
            {{/if}}
            {{/each}}
        </ul>
    </div>
  </div>
</div>



<form id="create-form">

  <div class="form-group">
    <label for="newBurger">New burger name:</label>
    <input type="text" id="newBurger" name="name">
  </div>
 <button id = "addBurger" class="btn btn-danger" type="submit">Add new burger</button>
</form>
